* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#grid-gen {
  padding: 16px;
  margin: 16px;
  flex: none;
}

#container {
  display: flex;
  height: 960px;
  width: 960px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex: 0 0 none;
}


.square {
  border: 1px solid black;
}

/*.square:hover {
    background-color: aqua;
}*/
